@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion d'une bibliothèque</title>
</head>
<body>
    <p>Pour afficher la liste de tous les livres : /Afficher</p>
    <p>Pour afficher la liste de tous les auteurs : /Afficher/Auteurs</p>
    <p>Pour afficher la liste de tous les livres d'un auteur : /Afficher/Auteur/{id auteur}</p>
    <p>Pour afficher un livre précis : /Afficher/Livre/{id livre}</p>
</body>
</html>
