@model List<MaBiblio.Models.Livre>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livres d'un auteur</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            padding: 4px;
        }

        td, th {
            border: 1px solid black;
            padding: 4px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Titre</th>
            <th>Date de parution</th>
        </tr>
        @foreach (var livre in Model)
        {
         <tr>
             <td>@livre.Titre</td>
             <td>@livre.Parution.ToString("dd/MM/yyyy")</td>
         </tr>
        }
    </table>
</body>
</html>
